body {
    background-image: url('https://images.unsplash.com/photo-1449247709967-d4461a6a6103?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1651&q=80');
    background-size: 100%;
}

*{
    list-style: none;
    text-decoration: none;
    -webkit-user-select: none;      
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.app-title {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    color: black;
    text-align: center;
    box-shadow: 0px 20px 100px 0px rgba(0,0,0, .5);
}


.balance {
    display: flex;
    text-align: center;
    padding: 30px;
    margin-top: 20px;
    justify-content: center;
}

.image-profile {
    border-radius: 100%;
    background:rgba(255,255,255,.2);
    box-shadow: 0px 5px 15px rgba(0,0,0, .5);
    position: relative;
}

.balance-money {
    margin-left: 50px;
    margin-top: 30px;
    color: #4b4b4b;
}

.title {
    font-size: 2em;
    font-weight: bold;
}

.value {
    font-size: 4em;
    font-weight: bold;
}

.income-bar {
    background-color: #34ace0;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    text-align: center;
    padding: 10px;
    color: white;

}

.outcome-bar {
    background-color:#ff5252;
    text-align: center;
    padding: 10px;
    color: white;

}

.income-flex {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

.outcome-flex {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

.toggle {
    display: flex;
    background-color: #f7f1e3;
    padding: 10px;
    justify-content: space-evenly;
    border-bottom-left-radius: 20px;
    background:rgba(255,255,255,.2);
    box-shadow: 0px 5px 15px rgba(0,0,0, .5);
}

.toggle .tab1, .tab2, .tab3{
    display: inline-block;
    cursor: pointer;
    font-size: 1.1em;
    color: #1a0034;
    font-family: 'Gilroy Bold';
    opacity: 0.4;
}

.toggle .tab1:hover {
    color: red;
}

.toggle .tab2:hover {
    color: blue;
}

.toggle .tab3:hover {
    color: black;
}

.active{
    opacity : 1 !important;
}

.hide{
    display: none;
}

.dashboard-header {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.input-inner {
    display: flex;
}

.list-expense-income {
    padding: 15px;
    border-radius: 10px;
    width: 65%;
    height: 7px;
    background:rgba(255,255,255,.2);
    box-shadow: 0px 5px 15px rgba(0,0,0, .5);
}


.input input#expense-title-input{
    padding-left: 10px;
    font-size: 1.2em;
    margin-left: 10px;
    border-radius: 10px 0 0 10px;
    border: none;
}

#expense .input input#expense-amount-input{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.2em;
    border-radius: 0 10px 10px 0;
    border: none;
}

.button-add{
    background-color: #34ace0;
    padding: 10px;
    border-radius: 10px;
}

.app-dashboard #expense ul.list li #delete{
    display: flex;
    position: absolute;
    width:20px;
    height: 20px;
    right: 20px;
    cursor: pointer;
    background-image: url('https://cdn3.iconfinder.com/data/icons/linecons-free-vector-icons-pack/32/trash-512.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

.entry-class {
    display: flex;
}

.expense {
    display: flex;
    padding: 20px;
    border-bottom-left-radius: 20px ;
    margin-top: 10px;
    background:rgba(255,255,255,.2);
    box-shadow: 0px 5px 15px rgba(224, 115, 115, 0.5);
}

.input input#income-title-input{
    padding-left: 10px;
    font-size: 1.2em;
    margin-left: 10px;
    border-radius: 10px 0 0 10px;
    border: none;
}

#income .input input#income-amount-input{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.2em;
    border-radius: 0 10px 10px 0;
    border: none;
}

.income {
    display: flex;
    padding: 20px;
    border-bottom-left-radius: 20px ;
    margin-top: 10px;
    background:rgba(255,255,255,.2);
    box-shadow: 0px 5px 15px rgba(105, 110, 212, 0.5);
}

.app-dashboard #income ul.list li #delete{
    display: flex;
    position: absolute;
    width:20px;
    height: 20px;
    right: 20px;
    cursor: pointer;
    background-image: url('https://cdn3.iconfinder.com/data/icons/linecons-free-vector-icons-pack/32/trash-512.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

.app-title{
    font-size: 25px;
}
