*{
    list-style: none;
    text-decoration: none;
    -webkit-user-select: none;      
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.app-container {
    position: absolute;
    width: 99%;
    height: 80%;
    /* margin-left: 5%; */
    background-color: darkolivegreen;
}

.app-container .app-title {
    margin-top: 45px;
    margin-left: 20px;
}

.app-container .app-title a{
    color: white
}

.app-header .balance {
    margin-top: 45px;
    margin-left: 20px;
}

.app-header .balance .title{
    color: white;
    font-size: 2em;
}

.app-header .balance .value{
    color: white;
    font-size: 2em;
    margin-top: 10px;
}

.app-header .account {
    display: flex;
    width: 310px;
    margin: 35px auto 0;
    line-height: 1.7em;
    text-align: center;
    justify-content: space-around;
}

.app-header .account .income, .chart, .outcome {
    height: 50px;
    display: inline-block;
    width: 100px;
    vertical-align: middle;
}

.app-header .account .income .title{
    color: #FFF;
    opacity: 0.5;
}

.app-header .account .income .income-total{
    color: #FFF;
}

.app-header .account .outcome .title{
    color: #FFF;
    opacity: 0.5;
}

.app-header .account .outcome .outcome-total{
    color: white;
}

.app-dashboard{
    padding: 20px;
    display: block;
    /* width: 500px;
    height: 470px; */
    background-color: #FFF;
    margin-top: 60px;
    border-radius: 30px 30px 0 0;
}

.app-dashboard {
    color: #1a0034;
    font-size: 1.7em;
    margin-left: 20px;
    margin-top: 30px;
    font-family: 'Gilroy Bold';
}

.toggle{
    display: flex;
    margin-top: 30px;
    margin-left: 20px;
}

.toggle .tab1, .tab2, .tab3{
    display: inline-block;
    cursor: pointer;
    font-size: 1.1em;
    color: black;
    opacity: 0.4;
}


.toggle .tab2, .tab3{
    margin-left: 10px;
}

.app-dashboard #all ul{
    height: 200px;
}

.app-dashboard #all ul.list li.expense {
    color: blue;
}

.active{
    opacity : 1 !important;
    color: red;
}

.hide{
    display: none;
}

.income-bar {
    background-color: darkslategray;
    border-radius: 20px;
    padding: 40px;
    color: white;
}

.outcome-bar {
    background-color: darkred;
    border-radius: 20px;
    padding: 20px;
    color:white
}